// COLORS
$primary-color: #89CFF0;
$secondary-color: #63bfe9;

$white-color: #fff;

$dark-blue: #3d3d3d;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
