// COLORS
$primary-color: #041122;
$secondary-color: #1d569c;

// $primary-color: #89CFF0;
// $secondary-color: #63bfe9;

$white-color: #fff;

$dark-blue: #174781;

$dark-blue-text: #5193b2; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
